<article id="post-{{post.ID}}" class="post-{{post.ID}} post type-post status-publish format-standard hentry category-uncategorized">
	
	<header class="entry-header">
		<h1 class="entry-title">{{post.title}}</h1>	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>{{post.content}}</p>
	</div><!-- .entry-content -->

	
	<footer class="entry-footer">
		<span class="posted-on"><span class="screen-reader-text">Posted on </span><a href="http://twigtest.niyolabs.com/post/{{post.id}}" rel="bookmark"><time class="entry-date published" datetime="2015-06-02T21:34:00+00:00">June 2, 2015</time><time class="updated" datetime="2015-06-02T21:45:51+00:00">June 2, 2015</time></a></span><span class="byline"><span class="author vcard"><span class="screen-reader-text">Author </span><a class="url fn n" href="http://twigtest.niyolabs.com/post/author/{{post.author.username}}">{{post.author.username}}</a></span></span>			</footer><!-- .entry-footer -->

</article>